// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
$dark-grey: #EEE;
$brand-color: #44A3DC;
$highlight-color: #3CE9CC;
$accent-color: #3F80F3;

body {
  background: $dark-grey;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 70px 0px 120px 0;
}

.chatbar {
  background: $brand-color;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 10px;
  border-radius: 8px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}
.chatbar-message:focus, .chatbar-username:focus{
  box-shadow: 0px 0px 25px 0px $accent-color;
}

.message {
  padding: 5px;
}

.message-content,
.message-username,
.message-system,
.message-image {
  overflow: hidden;
  margin: 15px;
  display: block;
}
.message-image{
  align-self: flex-start;
  max-width: 60%;
}

.message-content {
  background-color:white;
  border-radius: 8px;
  padding: 2em;
  width:30%;
  word-wrap: break-word;
}

.message-username {
  font-weight: 700;
  font-size: 1.8em;
}

.message-system{
  font-style: italic;
}

.navbar {
  border-top:5px solid $brand-color;
  background: white;
  height: 60px;
  left: 0;
  padding: 0 12px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: $brand-color;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-users-online{
  float: right;
  font-weight: bold;
  padding: 0 20px;
  color: $brand-color;
}
